@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: url("../images/resto.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.mainPage::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

.mainPage header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.mainPage .logo{
    font-size: 2em;
    color: white;
    user-select: none;
}

.mainPage .links a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    box-shadow: inset 0 -2px 0 0 transparent; /* Initially set a transparent shadow for the underline effect */
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.mainPage .links a:hover {
    box-shadow: inset 0 -2px 0 0 white; /* Set the shadow color to white on hover */
}

.mainPage .links .loginBtn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 100px;
    transition: .5s;
}

.mainPage .links .loginBtn:hover{
    color: rgb(12, 12, 12);
    background: white;
}

.mainPage .contents {
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: center;
    align-items: center;
    height: 100vh; /* You may adjust the height as needed */
}

.mainPage .contents h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    color: white;
    margin-bottom: 20px; /* Add some space between h1 and reserveBtn */
}

.mainPage .contents .reserveBtn {
    width: 300px;
    height: 80px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.7em;
    color: white;
    font-weight: 500;
    text-align: center;
    transition: .5s;
    padding: 10px; /* Add padding to create space between text and border */
}

.mainPage .contents .reserveBtn:hover {
    color: rgb(12, 12, 12);
    background: white;
}

.about{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: row;
}

.about .contents h1{
    margin-bottom: 20px;
    font-weight: 1500;
}

.about .contents p{
    width: 600px;
    text-align: justify;
}

.about .image img{
    width: 500px;
    height: auto;
    margin-left: 40px;
}

.sliders {
    background-color: #0D1B2B; 
    overflow-x: hidden; 
    overflow-y: hidden;
    font-family: roboto; 
    -webkit-font-smoothing: antialiased; 
    margin: 0;
}

.slide{
    width: 100%;
    height: 70vh;
}

.flex { 
    display: -webkit-flex; 
    display: flex; 
    -webkit-flex-direction: row;  
    flex-direction: row; 
    -webkit-justify-content: flex-start;
    justify-content: flex-start;}

.slider-wrapper div {
    position: relative;
}

.slider-wrapper {
    margin-top: 15vw;
    margin-left: 11vw;
}

.slide-image {
    height: 24vw;
}

.slide-image img {
    width: 24vw; 
    height: 24vw;
    cursor: pointer;
}

.slide-content {
    width: 50vw; 
    color: #fff; 
    padding:3vw 18vw 3vw 9vw;
}

.slide-date {
    color: #0a8acb; 
    font-size: 1.1vw; 
    font-weight: 400; 
    letter-spacing: 0.1vw; 
    padding-bottom: 1.4vw;
}
.slide-title {
    font-size: 1.2vw; 
    font-weight: 400; 
    letter-spacing: 0.1vw; 
    line-height: 1.55vw; 
    padding-bottom: 1.8vw;
}

.slide-text {
    font-size: 0.80vw; 
    line-height: 1.2vw; 
    opacity: 0.8; 
    padding-bottom: 4vw;
}

.slide-more {
    font-weight: 400; 
    letter-spacing: 0.1vw; 
    float: left; 
    font-size: 0.9vw;
}

.slide-more a{
    text-decoration: none;
    color: white;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.7em;
    color: white;
    font-weight: 500;
    text-align: center;
    transition: .5s;
    padding: 10px;
}

.slide-more:hover a{
    color: rgb(12, 12, 12);
    background: white;
}

.slide-bullet {
    width: 0.5vw; 
    height: 0.5vw; 
    background-color: #0b8bcc; 
    border-radius: 200%; 
    position: relative; 
    margin-left: 1.2vw;
}

.slide-nav {
    margin-left: 64vw; 
    margin-top: -5.5vw;
}

div.overlay-blue {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    transition: 0.5s ease all;
}

div.overlay-blue:hover {
    background-color: rgba(13, 27, 43, 0.5);
}

.arrows{
    width: 3.5vw; 
    margin-top: -5.8vw; 
    margin-left: 72vw; 
    padding-bottom: 200px;
    position: relative;
}

.arrow {
    display: inline-block; 
    position: absolute; 
    width: 1.2vw; 
    height: 1.2vw; 
    background: transparent; 
    text-indent: -9999px; 
    border-top: 0.15vw solid #fff; 
    border-left: 0.15vw solid #fff; 
    transition: all .1s ease-in-out; 
    text-decoration: none; 
    color: transparent;
}

.arrow:hover {
    border-color: #0A8ACB; 
    border-width: 0.25vw;
}

.arrow:before {
    display: block; 
    height: 200%; 
    width: 200%; 
    margin-left: -50%; 
    margin-top: -50%; 
    content: ""; 
    transform: rotate(45deg);
}

.arrow.prev {
    transform: rotate(-45deg); 
    left: 0;
}

.arrow.next {
    transform: rotate(135deg); 
    right: 0;
}

footer{
    background-color: #111;
    height: auto;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.sosials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.sosials li{
    margin: 0 10px;
}

.sosials a{
    text-decoration: none;
    color: #fff;
}

.sosials a svg{
    font-size: 1.1rem;
    transition: all 0.3s ease;
}

.sosials a:hover svg{
    color: #0D1B2B;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}